## ADXL345
[adxl345]
cs_pin: can0:ADXL_CS
spi_software_sclk_pin: can0:ADXL_SCLK
spi_software_mosi_pin: can0:ADXL_MOSI
spi_software_miso_pin: can0:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    0,0,30

[input_shaper]
shaper_freq_x: 40.6
shaper_type_x: zv
shaper_freq_y: 40.6
shaper_type_y: zv
