[include mainsail.cfg]
[include EBB36.cfg]
[include macros.cfg]
[include fans.cfg]
[include temperatures.cfg]
[include input_shaper.cfg]
[include config_backup.cfg]


#SKR 1.3 MCU
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_19100C0C271E5653BF76074F050000F5-if00  #Matthew's serial ID
#serial: /dev/serial/by-id/usb-Klipper_lpc1768_19100C0C271E5653BF76074F050000F5-if00  #Tom's serial ID
restart_method: command

#EBB36 toolhead board
[mcu can0]
canbus_uuid: c65b6e224498  #Matthew's UUID
#canbus_uuid: cbdf52a56f17  #Tom's UUID

#Secondary RPI mcu for input shaper
[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: delta
max_velocity: 450
max_accel: 10000
max_z_velocity: 450
minimum_z_position: -30
square_corner_velocity: 10.0
#delta_radius: 130

###Stepper X config###
[stepper_a]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
microsteps: 64
rotation_distance: 40
endstop_pin: P1.28  # P1.28 for X-max
homing_speed: 40
#position_endstop: 325.0
#arm_length: 315.0

###Stepper Y config###
[stepper_b]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 64
rotation_distance: 40
endstop_pin: P1.26  # P1.26 for Y-max
#position_endstop: 325.0
#arm_length: 315.0

###Stepper Z config###
[stepper_c]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 64
rotation_distance: 40
endstop_pin: P1.24  # P1.24 for Z-max
#position_endstop: 325.0
#arm_length: 315.0

###Stepper driver config###
[tmc2209 stepper_a]
uart_pin: P1.17 
run_current: 0.950
interpolate: False
stealthchop_threshold: 0

[tmc2209 stepper_b]
uart_pin: P1.15
run_current: 0.950
interpolate: False
stealthchop_threshold: 0

[tmc2209 stepper_c]
uart_pin: P1.10
run_current: 0.950
interpolate: False
stealthchop_threshold: 0

[endstop_phase stepper_a]
endstop_align_zero: false

[endstop_phase stepper_b]
endstop_align_zero: false

[endstop_phase stepper_c]
endstop_align_zero: false

## EXTRUDER 
[extruder]
step_pin: can0:EXT_STEP
dir_pin: can0:EXT_DIR
enable_pin: !can0:EXT_EN
rotation_distance: 5.7
microsteps: 16
full_steps_per_rotation: 200
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: can0:HE0
sensor_pin: can0:TH0
sensor_type: ATC Semitec 104GT-2  # this is the default for the Revo heater
control: pid
pid_Kp: 37.242
pid_Ki: 7.523
pid_Kd: 46.087
min_temp: 0
max_temp: 280

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: can0:PA15
stealthchop_threshold: 0
run_current: 0.65

###Bed config###
[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
min_temp: 0
max_temp: 130

###Probe config###
[probe]
pin: !can0:PROBE_1
x_offset: 0
y_offset: 0
#z_offset: -26.678
samples: 3
samples_result: average
sample_retract_dist: 1
speed: 7
lift_speed: 50
samples_tolerance: 0.01
samples_tolerance_retries: 5

###Delta Calibration config###
[delta_calibrate]
radius: 120
horizontal_move_z: 30
speed: 20 

[bed_mesh]
speed: 100
horizontal_move_z: 30
mesh_radius: 130
mesh_origin: 0,0
round_probe_count: 5




[save_variables]
filename: ~/printer_data/config/variables.cfg

#Enables exclude object during printing
[exclude_object]

#Enables the use of G2/G3 arc commands
[gcode_arcs]

[respond]


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.850
#*# pid_ki = 2.004
#*# pid_kd = 643.958
#*#
#*# [probe]
#*# z_offset = 27.301
#*#
#*# [printer]
#*# delta_radius = 152.284504
#*#
#*# [stepper_a]
#*# angle = 209.955454
#*# arm_length = 315.000000
#*# position_endstop = 345.390
#*#
#*# [stepper_b]
#*# angle = 330.290714
#*# arm_length = 315.000000
#*# position_endstop = 344.257
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 315.000000
#*# position_endstop = 343.648
#*#
#*# [delta_calibrate]
#*# height0 = 27.09
#*# height0_pos = 101844.667,101498.333,101292.333
#*# height1 = 27.09
#*# height1_pos = 121716.667,121247.667,89473.667
#*# height2 = 27.09
#*# height2_pos = 99121.333,132977.333,98557.333
#*# height3 = 27.09
#*# height3_pos = 90577.000,118216.333,117919.667
#*# height4 = 27.09
#*# height4_pos = 98584.333,98305.333,122897.333
#*# height5 = 27.09
#*# height5_pos = 115553.333,90918.000,115013.000
#*# height6 = 27.09
#*# height6_pos = 128061.333,98348.333,98209.333
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.274332, -0.274332, -0.274332, -0.274332, -0.274332
#*# 	-0.000600, -0.000600, 0.016281, 0.011873, 0.011873
#*# 	-0.083489, 0.064186, 0.005529, -0.004236, -0.006205
#*# 	0.015949, 0.015949, -0.002324, -0.025286, -0.025286
#*# 	0.083186, 0.083186, 0.083186, 0.083186, 0.083186
#*# tension = 0.2
#*# min_x = -130.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = -130.0
#*# x_count = 5
#*# max_y = 130.0
#*# mesh_x_pps = 2
#*# max_x = 130.0
#*#
#*# [endstop_phase stepper_a]
#*# trigger_phase = 78/256
#*#
#*# [endstop_phase stepper_b]
#*# trigger_phase = 68/256
#*#
#*# [endstop_phase stepper_c]
#*# trigger_phase = 95/256
